<div class="syno">
  <div class="syno-user">
    <img src="{{User.logo}}" />
    <div class="syno-main">
      <div class="syno-user-name">{{User.user}}</div>
      <div class="syno-user-desc">{{User.description}}</div>
      <div class="syno-user-item"><i nz-icon nzType="mail" nzTheme="outline"></i>kaaden.yu@gmail.com</div>
      <div class="syno-user-item"><i nz-icon nzType="environment" nzTheme="outline"></i>guangzhou</div>
      <div class="syno-info-bottom">

        <p class="icon">
          <a href="https://github.com/Kaaden" target="_blank"><i class="icon-item" nz-icon nzType="github"
              nzTheme="outline"></i></a>
          <a href="https://weibo.com/2332838831/profile?topnav=1&wvr=6&is_all=1" target="_blank"><i class="icon-item"
              nz-icon nzType="weibo-circle" nzTheme="outline"></i></a>
          <a href="http://kaaden.orrzt.com/admin#/" target="_blank"> <i class="icon-item" nz-icon
              nzType="codepen-circle" nzTheme="outline"></i></a>
        </p>
      </div>
    </div>
  </div>

  <div class="syno-user">
    <div class="syno-tag"><i nz-icon nzType="tag" nzTheme="outline" style="margin-right:0.2rem"></i>标签</div>
    <div class="syno-tag-item">
      <nz-tag [nzColor]="'#108ee9'" style="margin-bottom:0.1rem" *ngFor="let item of list">{{item.tag}}</nz-tag>
    </div>
  </div>


  <div class="syno-user" *ngIf="isShow">
    <div class="syno-tag"><i nz-icon nzType="fire" nzTheme="outline" style="margin-right:0.2rem"></i>访问量</div>
    <div class="syno-tag-item" style="margin-bottom:0.1rem">
      <nz-statistic [nzValue]="User.pageview" ></nz-statistic>
    </div>
  </div>




</div>