.syno {
  width: 100%;

  .icon {
    font-size: 0.24rem;
  }

  .syno-classify:last-child {
    border-bottom: none;
  }

  .syno-classify {
    width         : 100%;
    border-bottom : .5px solid #eee;
    padding-bottom: .3rem;
    margin-bottom : .3rem;

    .syno-classify-title {
      color        : #0269c8;
      cursor       : pointer;
      font-family  : "beyno";
      font-weight  : 600;
      margin-bottom: 0.3rem;
    }

    .syno-classify-list {
      width    : 100%;
      display  : flex;
      flex-wrap: wrap;

      .item {
        margin-bottom: .08rem
      }
    }

    
  }
}