<div class="syno">

  <div class="syno-classify">
    <div class="syno-classify-title">CLASSIFCATION</div>
    <div class="syno-classify-list">
      <nz-tag *ngFor="let item of list" class="item">{{item}}</nz-tag>
    </div>
  </div>

  <div class="syno-classify">
    <div class="syno-classify-title">ABOUT ME</div>
    <nz-card nzHoverable [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit]">
      <nz-skeleton [nzActive]="true" [nzLoading]="loading" >
        <nz-card-meta [nzDescription]="coverTempMain"></nz-card-meta>
      </nz-skeleton>
    </nz-card>

  </div>




  <ng-template #coverTemplate>
    <img alt="example" src="{{User.logo}}" />
  </ng-template>

  <ng-template #coverTempMain>
    <span>{{User.description}}</span>
  </ng-template>

  <ng-template #actionSetting>
    <a href="https://github.com/Kaaden" target="_blank">
      <i nz-icon nzType="github" nzTheme="outline" class="icon"></i>
    </a>
  </ng-template>
  <ng-template #actionEdit>
    <a href="http://kaaden.orrzt.com/admin" target="_blank">
      <i nz-icon nzType="codepen-circle" nzTheme="outline" class="icon"></i>
    </a>
  </ng-template>

</div>