<a (click)="login()" *ngIf="!gitId" style="margin-bottom:.3rem;display: block">登录即可评论</a>
<div class="commit">
    <div class="commit-title" (click)="onblur()">评论</div>
    <div class="commit-input" *ngIf="gitId" (click)="onblur()">
        <nz-avatar style="flex-shrink:0;margin-right:.2rem" nz-comment-avatar nzIcon="user" [nzSize]="40"
            [nzSrc]="gitUser.avatar_url">
        </nz-avatar>
        <app-editor style="width:100%" [loading]="subLoading" [isShow]="false" [show]="true"
            (doSubmit)="submit($event)"></app-editor>
        <!-- <div class="commit-input-right">
            <app-editor [loading]="subLoading" (doSubmit)="submit($event)" ></app-editor>
        </div> -->
    </div>

    <div class="commit-list" *ngIf="comment.length">
        <!-- 评论 -->
        <ul style="margin-bottom:.3rem">
            <li *ngFor="let item of comment;let i = index" class="commit-list-item">
                <nz-avatar nzIcon="user" [nzSrc]="item.avatar" style="flex-shrink:0"></nz-avatar>
                <div class="commit-list-item-main">
                    <span class="commit-item-name" (click)="onblur()">{{item.name}} <span class="commit-item-time"
                            (click)="onblur()">{{item.time}}</span></span>
                    <span class="commit-item-text" (click)="onblur()">{{item.text}}</span>

                    <!-- 点赞 -->
                    <div class="commit-item-func">
                        <div class="commit-item-func-right">
                            <i nz-icon nzType="like" nzTheme="outline" style="cursor: pointer"></i>
                            <span style="margin-left:.1rem" *ngIf="item.dzcount">{{item.dzcount}}</span>
                        </div>

                        <i nz-icon nzType="message" nzTheme="outline" style="cursor: pointer"
                            (click)="showReplay(i)"></i>
                    </div>

                    <!-- 输入框 -->
                    <app-editor [loading]="subLoadingItem" [isShow]="true" [show]="replayIndex===i+1?true:false"
                        [itemBody]="item" (doSubmit)="replaySubmit($event,item)"></app-editor>



                    <!-- 回评 -->
                    <ul class="replay" *ngIf="item.replay.length">
                        <li *ngFor="let r of item.replay;let j = index" class="replay-item">
                            <nz-avatar nzIcon="user" [nzSrc]="r.comment_avatar" style="flex-shrink:0"></nz-avatar>
                            <div class="replay-item-main">
                                <span class="replay-item-name" (click)="onblur()">{{r.comment_name}}
                                    回复 <span style="color:#406599">{{r.replay_name}}</span> : <span
                                        class="commit-item-time" (click)="onblur()">{{r.time}}</span></span>
                                <span class="commit-item-text" (click)="onblur()">{{r.comment_text}}</span>


                                <div class="commit-item-func">
                                    <div class="commit-item-func-right">
                                        <i nz-icon nzType="like" nzTheme="outline" style="cursor: pointer"></i>
                                        <span style="margin-left:.1rem" *ngIf="item.dzcount">{{r.dzcount}}</span>
                                    </div>

                                    <i nz-icon nzType="message" nzTheme="outline" style="cursor: pointer"
                                        (click)="showNewRe(j,item.id)"></i>
                                </div>
                                <app-editor [loading]="subLoadingItem" [isShow]="true" [itemBody]="r"
                                    (doSubmit)="newSubmit($event,item)"
                                    [show]="r.comment_id===newReId&&newReIndex===j+1?true:false"></app-editor>


                            </div>




                        </li>
                    </ul>

                </div>

            </li>
        </ul>

        <nz-spin nzSimple [nzIndicator]="indicatorTemplate" [nzSpinning]="loading" style="width:100%;text-align:center">
        </nz-spin>

        <a class="addMore" (click)="fetchMore()" *ngIf="hasMore">加载更多</a>


    </div>
</div>

<ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 24px;"></i> </ng-template>