<nz-spin  [nzSpinning]="loading">
  <header>
    <div id="head-bg" ng-cloak class="detail-bg" [style.background-image]="'url(' + backImg + ')'">
      <div class="mask"></div>
      <div class="main">
        <div class="top">
          <h1 class="title">{{title}}</h1>
          <span *ngIf="authors">- - by {{authors}}</span>
        </div>

        <div class="category">{{category}}</div>

        <div class="time">{{time}}</div>
      </div>

    </div>
  </header>

  <main class="detail-main">
    <div [innerHTML]="content"></div>
  </main>

  <footer class="detail-footer">
    <div class="detail-user">
      <img src="{{User.logo}}"/>
    </div>
  </footer>

</nz-spin>