<nz-spin  [nzSpinning]="loading">
  <header>
    <div id="head-bg" ng-cloak class="detail-bg" [style.background-image]="'url(' + backImg + ')'">
      <div class="mask"></div>
      <div class="main">
        <div class="top">
          <h1 class="title">{{title}}</h1>
          <span *ngIf="authors">- - by {{authors}}</span>
        </div>

        <div class="category">{{category}}</div>

        <div class="time">{{time}}</div>
      </div>

    </div>
  </header>

  <main class="detail-main">
    <div [innerHTML]="content"></div>
  </main>

  <footer class="detail-footer" *ngIf="!loading">
    <div class="detail-user">
      <img src="{{User.logo}}"/>
    </div>
    <div class="detail-info">
      <div class="detail-info-top">
        <p class="name">{{User.user}}</p>
        <p>The Front-end development</p>
      </div>
      <div class="detail-info-bottom">
        <p class="detail-href"><i nz-icon nzType="paper-clip" nzTheme="outline"></i><a href="http://kaaden.orrzt.com">http://kaaden.orrzt.com</a></p>
        <p class="icon">
          <i nz-icon nzType="github" nzTheme="outline"></i>
          <i nz-icon nzType="weibo-circle" nzTheme="outline"></i>
          <i nz-icon nzType="codepen-circle" nzTheme="outline"></i>
        </p>
      </div>
    </div>
  </footer>

</nz-spin>