/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/src/ng-zorro-antd.css";


body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
div,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.7;
    font-size: 0.16rem;
    color:rgba(0, 0, 0, 0.7)
}
ol,
ul {
    list-style: none;
}
img,
input,
select {
    width:100%;
    vertical-align: baseline;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

input,
button,
select,
textarea {
    outline: none;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.15);
}

@font-face {
    font-family: 'beyno';
    src: url("http://kaaden.orrzt.com/public/client/fonts/BEYNO.0a362746.ttf");
}
