.list-main {
  width: 100%;

  .list-item:first-child {
    padding: 0 0 .2rem 0 !important;
  }

  .list-item:hover .list-item-title {
    color: #0269c8;
  }

  .list-item:last-child {
    border-bottom: none;
  }

  .list-item {
    cursor       : pointer;
    width        : 100%;
    display      : flex;
    padding      : .2rem 0;
    border-bottom: .5px solid #eee;
    align-items  : center;

    .list-item-content {
      flex           : 1;
      display        : flex;
      flex-direction : column;
      height         : 1.5rem;
      justify-content: space-between;

      .list-item-title {
        font-size  : 0.22rem;
        font-weight: 600;
      }

      >p {
        color      : #24292e;
        font-size  : .16rem;
        font-family: "Merriweather", serif;
      }

      .list-item-orther {
        display    : flex;
        align-items: center;

        >span {
          font-family: Lora, Times New Roman, serif;
          color      : #a3a3a3;
          font-size  : .14rem;

        }

        // >span:last-child {
        //   margin-left: .2rem;
        // }
      }
    }

    img {
      width      : 2rem;
      height     : 1.5rem;
      flex-shrink: 0;
      margin-left: 0.3rem;
    }
  }

}

.list-loading {
  width     : 100%;
  text-align: center;
}